body{
  
}

#btn{

}

.jumbotron {
    background-image: url("../hello-in-eight-different-languages.jpg");
    background-size: contain;

}

h1{
    margin-bottom: 50px;
}

#content{
    display: none;
}

#clr{

}

#main_image{
  width: 280px;
  height: 280px;
  border: 2px solid;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#eraser{

}

#white{
 position:absolute;
  top:22%;
  left:45%;
  width:15px;
  height:15px;
  background:white;
  border:2px solid;
}
